* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

header {
	color: blue;
	text-align: center;
	text-transform: capitalize;
	font-style: italic;
	width: 600px;
}

.night {
	width: 400px;
	float: right;
	color: #006600;
}

.toys {
	width: 600px;
	color: red;
	display: inline;
}

