* {
	margin: 15px;
	border: 3px solid #FF0000;
	background: yellow;
	text-align: center;
	border-color: blue;
	line-height: 200%
}

#yellow {
	font-style: italic;
}

#blue {
	font-weight: bold;
	padding: 10cm 4cm 15cm 4cm;
}