* {
	border: 2px dashed black;
	float: left;
	border-radius: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 50px;
	margin-left: 50px;
}

h1 {
	background-color: #00ff99;
}

p {
	background-color: #00cc00;
}

p {
	background-color: #ff5050;
}

